:root{
  --dark-green: #5E7A4F;
  --light-green: #798A70;
  --light-tan: #FAFAF5;
  --mid-tan: #F4F2EC;
  --dark-tan: #ECEAE3;
  --dark-dark-tan: #B9B4A5;
  --red-brown: #8B2A2A;

  background-color: var(--mid-tan);
}

html,
body {
  margin: 0;
  padding: 0;
}