.search-bar {
    background-color: var(--dark-green); /* Adjust as needed */
    padding: 10px;
  }
  
  .search-input {
    display: flex;
    align-items: center;
    border-radius: 15px; /* Adjust border radius to get curved edges */
    background-color: var(--light-tan); /* Adjust as needed */
    padding: 5px 10px;
  }
  
  .search-input input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: var(--dark-green);
    margin-left: 20px;
    margin-top: 2px;
  }
  
  .search-input input::placeholder {
    font-weight: 100;
    color: var(--dark-dark-tan);
  }
  
  .search-icon {
    color: var(--dark-green);
    font-size: 20px;
    cursor: pointer;
  }